.container{
    width: 800px;
    height: 800px;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 100px auto 500px; */
    /* grid-template-rows: 100px 100px; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    /* row-gap: 2px; */
    /* column-gap: 3px; */
}
.child{ 
    grid-column: 5/3;
    
    color: rebeccapurple;
}
