.container{
    border: 2px solid red;
    width: 298px;
    height: 298px;
}


.container1{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(43, 114, 176);
    position: relative;
    z-index: 1;
     

}
.container2{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(166, 67, 224);
    position: relative;
    margin-left: 50px;
    margin-top: -50px;
    
}
.container3{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(70, 190, 142);
    position: relative;
    margin-left: 100px;
    margin-top: -50px;
    z-index: 1;
}
.container4{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(185, 205, 37);
    position: relative;
    margin-left: 150px;
    margin-top: -50px;
}
.container5{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(236, 220, 52);
    position: relative;
    margin-left: 200px;
    margin-top: -100px;
}

.container6{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(18, 175, 237);
    position: relative;
    /* margin-left: -100px; */
    margin-top: -50px;

}
.container7{
    border: 2px solid black;
    width: 96px ;
    height: 96px;
    background-color: rgb(237, 18, 18);
    position: relative;
    margin-left: 200px;
    margin-top: -100px;
    z-index: 1;

}